.contents{
       margin-top: 15px;
    margin-left: 18%;
    margin-bottom: 15px;
margin-right 15px;
    padding: 15px;
color:"#ffff99";
}
body{

background: #606c88; /* Old browsers */

background: -moz-linear-gradient(left,  #606c88 0%, #3f4c6b 100%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, right top, color-stop(0%,#606c88), color-stop(100%,#3f4c6b)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(left,  #606c88 0%,#3f4c6b 100%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(left,  #606c88 0%,#3f4c6b 100%); /* Opera 11.10+ */

background: -ms-linear-gradient(left,  #606c88 0%,#3f4c6b 100%); /* IE10+ */

background: linear-gradient(left,  #606c88 0%,#3f4c6b 100%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=1 ); /* IE6-9 */

color=#ffff99;

}


body a:link {color:white;}
body a:visited { color:purple;}
body a:hover {color:red;}
body a:active {color:green;}

a{
    text-decoration:none;
}

